<template>
  <header>
    <div class="filters">
      <div class="filters__date">
        <VDatePicker
          v-model.range="calendar.selectedDates"
          is-range
          @dayclick="clickDay(calendar.selectedDates)"
          :attributes="calendar.attributes"
          :disabled-dates="disabledDates"
        >
          <template #default="{ togglePopover }">
            <div @click="togglePopover">
              <VInput
                v-model="inputValueDate"
                :placeholder="'дд.мм.гг - дд.мм.гг'"
                readonly
                hint="Дата звонка"
              />
            </div>
          </template>

          <template #footer>
            <div class="calendar-btn-clear">
              <VButton @click="clearDays"> По умолчанию </VButton>
            </div>
          </template>
        </VDatePicker>
      </div>
      <div class="filters__name">
        <VSelect
          :options="nameManagers"
          v-model="currentNameManagers"
          :selected-val-id="currentNameManagers"
          placeholder="Выберите"
          :hint="'ФИО менеджера'"
        />
      </div>
      <div class="filters__target">
        <VSelect
          :options="callTypes"
          v-model="currentCallType"
          :selected-val-id="currentCallType"
          placeholder="Выберите"
          :hint="'Тип звонка'"
        />
      </div>
      <div class="filters__sets">
        <VSelect
          :options="sets"
          v-model="currentSet"
          :selected-val-id="currentSet"
          placeholder="Выберите"
          :hint="'Сет'"
        />
      </div>
      <div class="filters__btn-clear">
        <VButton @click="clearFilters" view="outlined">Сбросить фильтры</VButton>
      </div>
      <div class="filters__btn">
        <VButton @click="getManagers">Показать</VButton>
      </div>
      <router-link to="/notification" class="header-notification">
        <icon-notific></icon-notific>
        Настройка</router-link>
    </div>
  </header>

  <section class="table">
    <div class="table-row table-head">
      <div class="cell" v-for="item in headerTable" :key="item.id">{{ item.title }}</div>
    </div>
    <div
      class="table-row-wr"
      v-for="(manager, index) in records"
      :key="manager.recording_id"
      :class="{ active: manager.opened }"
    >
      <div class="table-row" @click="openManager(manager.recording_id)">
        <div class="cell">{{ ++index }}</div>
        <div class="cell">
          <div class="manager__info--avatar">
            <img v-if="manager.avatar" :src="manager.avatar" alt="avatar" />
            <!-- <IconAvatar v-else color="#686868" /> -->
            <img src="../assets/img/avatar2.png" alt="">
          </div>
        </div>
        <div class="cell">{{ formatDate(new Date(manager.created_record)) }}</div>
        <div class="cell">{{ manager.employee_name }}</div>
        <div class="cell">
          {{ manager.targetValue ? 'Целевой' : 'Не целевой' }}
          <!-- manager.transferred_manually ?  -->
          <span v-if="manager.targetValueChange">
            <icon-update></icon-update>
          </span>
        </div>
      </div>
      <v-spoiler v-model="manager.opened">
        <manager-content :manager="manager" :opened="manager.opened" @changeTarget="changeTarget" />
      </v-spoiler>
    </div>
    <preloader v-if="isPreloader && !records.length"></preloader>
    <div v-else-if="!records.length" class="message">Записей не найдено</div>
  </section>
</template>

<script>
import {
  noScroll,
  headerTable,
  callTypes,
  getRecords,
  getSets
} from '../main'

import VButton from '../components/common/button.vue'
import IconAdd from '../components/icons/IconAdd.vue'
import IconSave from '../components/icons/IconSave.vue'
import IconCancel from '../components/icons/IconCancel.vue'
import IconDelete from '../components/icons/IconDelete.vue'
import VInput from '../components/common/input.vue'
import Popup from '../components/Popup.vue'
import VForm from '../components/VForm.vue'
import IconSort from '../components/icons/IconSort.vue'
import IconAvatar from '../components/icons/IconAvatar.vue'
import VSelect from '../components/common/select.vue'

import AudioPlayer from 'vue3-audio-player'
import 'vue3-audio-player/dist/style.css'
import VSpoiler from 'v-spoiler'
import 'v-spoiler/dist/v-spoiler.css'
import ManagerContent from './ManagerContent.vue'
import IconUpdate from '../components/icons/IconUpdate.vue'
import Preloader from '../components/common/preloader.vue'
import IconNotific from '../components/icons/IconNotific.vue'

export default {
  components: {
    IconSave,
    IconCancel,
    IconDelete,
    VInput,
    VButton,
    IconAdd,
    VForm,
    Popup,
    IconSort,
    IconAvatar,
    AudioPlayer,
    VSpoiler,
    ManagerContent,
    VSelect,
    IconUpdate,
    Preloader,
    IconNotific
  },
  data() {
    return {
      headerTable,
      nameManagers: [],
      records: [],
      callTypes,
      currentNameManagers: null,
      currentCallType: null,
      calendar: {
        attributes: [],
        isPeriod: true,
        selectedDates: {
          start: new Date().setMonth(new Date().getMonth() - 1),
          end: new Date()
        }
      },
      disabledDates: [
        { start: new Date(new Date().getTime() + 1 * 24 * 60 * 60 * 1000), end: null }
      ],
      date: {},
      dateInput: null,
      recordsData: null,
      isPreloader: false,
      sets: [],
      currentSet: null,
    }
  },
  computed: {
    inputValueDate() {
      if (this.dateInput) {
        return this.dateInput.date_start + ' - ' + this.dateInput.date_end
      } else {
        return (
          this.formatDate(new Date(this.calendar.selectedDates.start)) +
          ' - ' +
          this.formatDate(new Date(this.calendar.selectedDates.end))
        )
      }
    }
  },
  methods: {
    changeTarget(manager, value) {
      manager.targetValue = !value
      manager.targetValueChange = value
      this.$forceUpdate()
    },
    targetValue1(manager) {
      let value = null
      if (manager.transferred_manually) {
        value = !manager.target
      } else {
        value = manager.target
      }
      return value
    },
    getDatesBetween(startDate, endDate) {
      const dates = []
      const currentDate = new Date(startDate)
      const lastDate = new Date(endDate)

      while (currentDate <= lastDate) {
        dates.push(this.formatDate(new Date(currentDate)))
        currentDate.setDate(currentDate.getDate() + 1)
      }

      return dates
    },
    formatDate(date) {
      if (typeof date === 'number') date = new Date(date)
      let dd = date.getDate()
      if (dd < 10) dd = '0' + dd
      let mm = date.getMonth() + 1
      if (mm < 10) mm = '0' + mm
      let yy = date.getFullYear() % 100
      if (yy < 10) yy = '0' + yy

      return dd + '.' + mm + '.' + yy
    },
    formatDatePost(date) {
      if (typeof date === 'number') date = new Date(date)
      let dd = date.getDate()
      if (dd < 10) dd = '0' + dd
      let mm = date.getMonth() + 1
      if (mm < 10) mm = '0' + mm
      let yy = date.getFullYear()
      return yy + '.' + mm + '.' + dd
    },
    openManager(id) {
      this.records.forEach((item) => (item.opened = id === item.recording_id && !item.opened))
    },
    clickDay(val) {
      console.log('val: ', val)
      this.date = {
        date_start: val.start,
        date_end: val.end
      }
      this.dateInput = {
        date_start: this.formatDate(val.start),
        date_end: this.formatDate(val.end)
      }
      this.calendar.attributes = [...this.getDatesBetween(val.start, val.end)]
      if (typeof val.start === 'object') {
        getRecords(this.date).then((response) => {
          this.recordsData = [...response.data]
          this.getList(this.recordsData)
        })
      }
    },
    clearDays() {
      this.calendar.selectedDates = {
        start: new Date().setMonth(new Date().getMonth() - 1),
        end: new Date()
      }
      this.dateInput = {
        date_start: this.formatDate(new Date(this.calendar.selectedDates.start)),
        date_end: this.formatDate(new Date(this.calendar.selectedDates.end))
      }
      this.date = {
        date_start: new Date(this.calendar.selectedDates.start),
        date_end: new Date()
      }
      // this.isPreloader = true;
      getRecords(this.date).then((response) => {
        this.recordsData = [...response.data]
        this.getList(this.recordsData)
        // this.isPreloader = false;
        
      })
    },
    clearFilters() {
      this.currentNameManagers = null
      this.currentCallType = null
      // this.clearDays()
      // this.calendar.attributes = []
      this.records = this.recordsData
    },
    getList(response) {
      response.sort((a, b) => new Date(b.created_record) - new Date(a.created_record))
      response.forEach((item) => {
        item.opened = false
        item.targetValueChange = item.transferred_manually
        item.targetValue = item.transferred_manually ? !item.target : item.target
      })
      let arrName = []
      response.forEach((rec) => {
        let manager = {
          id: rec.recording_id,
          name: rec.employee_name,
          user_id: rec.call_abonent_id
        }
        arrName.push(manager)
      })
      const result = arrName.reduce((o, i) => {
        if (!o.find((v) => v.user_id == i.user_id)) {
          o.push(i)
        }
        return o
      }, [])
      this.nameManagers = [...result]
    },

    getRecords() {
      this.isPreloader = true;
      getRecords(this.date).then((response) => {
        this.recordsData = [...response.data]
        this.getList(this.recordsData)
        this.records = this.recordsData
        this.isPreloader = false;
      })
    },
    getManagers() {
      this.records = this.recordsData
        .filter((item) => {
          if (!this.currentNameManagers) return true
          return item.employee_name === this.currentNameManagers.name
        })
        .filter((item) => {
          if (!this.currentCallType) return true
          return item.transferred_manually
            ? !item.target === this.currentCallType.value
            : item.target === this.currentCallType.value
        })
    },
    getSets () {
      getSets().then(resp => {
        this.sets = resp.data;
        this.currentSet = this.sets.find(s => s.is_active)
      })
    }
  },
  mounted() {
    var mountsLast = new Date()
    mountsLast.setMonth(mountsLast.getMonth() - 1)
    this.date = {
      date_start: mountsLast,
      date_end: new Date()
    }
    this.getRecords()
    this.getSets()
  },
  watch: {}
}
</script>
