<template>
  <div class="manager-wrapper" v-if="manager">
    <div class="flex">
      <div class="manager__content">
        <div class="manager__content--info">
          <div><span>Время звонка:</span> {{ time }} UTC</div>
          <div><span>Телефон клиента: </span>{{ manager.client_number }}</div>
          <!-- <div>atc: <span>{{ manager.atc }}</span></div> -->
          <div><span>Длительность разговора: </span>{{ recDuretion }}</div>
          <div><span>count_no_expediency_word: </span>{{ manager.count_no_expediency_word }}</div>
          <div class="colum-result">
            <span>Тригерные слова:</span>
            <div v-if="manager.employee_result">
              <span>Сотрудник</span>
              <div v-for="(item, title) in employee_result" :key="item" class="colum-result-row">
                <div class="colum-result-cell">{{title}}:</div>
                <div style="opacity: 0.7" class="colum-result-cell"><p v-for="( count, el) in item" :key="el">{{ el + ': ' + count }}</p></div>
              </div>
            </div>
            <div v-if="manager.client_result">
              <span>Клиент</span>
              <div v-for="(item, title) in client_result" :key="item" class="colum-result-row">
                <div class="colum-result-cell">{{title}}:</div>
                <div style="opacity: 0.7" class="colum-result-cell"><p v-for="( count, el) in item" :key="el">{{el + ': ' + count }}</p></div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="manager__content--audio">
          <AudioPlayer
            :option="{
              src: audio
            }"
          />
        </div> -->
        <audio :src="audio" controls type="audio/mp3" ref="audioPlayer" ></audio>
        <div class="manager__content--text">
          <p v-html="manager.dialog"></p>
        </div>
      </div>
      <div class="manager__actions">
        <VInput placeholder="Комментарий" :textarea="true" hint="Ваш комментарий" v-model="comment" @input="changeComment" />
        <div class="flex-colm">
          <p class="v-input__hint">Изменить тип звонка</p>
          <VRadio
            :options="callTypes"
            @selectVariant="changeTarget"
            :oldvalue="manager.transferred_manually ? !manager.target : manager.target"
            :id="manager.id"
          />
        </div>
        <div class="manager__actions-btn" v-show="isUpdateRecord">
          <VButton @click="updateRecord" view="outlined" >{{'Сохранить изменения'}}</VButton>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { noScroll, managers, callTypes, getAudio, updateRecord } from '../main'
import base64js from 'base64-js'

import VButton from '../components/common/button.vue'
import IconAdd from '../components/icons/IconAdd.vue'
import IconSave from '../components/icons/IconSave.vue'
import IconCancel from '../components/icons/IconCancel.vue'
import IconDelete from '../components/icons/IconDelete.vue'
import VInput from '../components/common/input.vue'
import VSelect from '../components/common/select.vue'
import Checkbox from '../components/common/checkbox.vue'
import VRadio from '../components/common/radio.vue'

import Popup from '../components/Popup.vue'
import VForm from '../components/VForm.vue'
import IconSort from '../components/icons/IconSort.vue'
import IconAvatar from '../components/icons/IconAvatar.vue'

import AudioPlayer from 'vue3-audio-player'
import 'vue3-audio-player/dist/style.css'

export default {
  components: {
    IconSave,
    IconCancel,
    IconDelete,
    VInput,
    VSelect,
    Checkbox,
    VRadio,
    VButton,
    IconAdd,
    VForm,
    Popup,
    IconSort,
    IconAvatar,
    AudioPlayer
  },
  props: {
    manager: Object,
    opened: Boolean,
  },
  data() {
    return {
      // managers,
      callTypes,
      audio: null,
      comment: this.manager.comment ?? '',
      commentNew: '',
      target: null,
      targetNew: null,
      isChangeTarget: false,
      isUpdate: false,
      audioContext: null,
      mediaSource: new MediaSource(),
      audioBuffer: null,
      transferred_manually: this.manager.transferred_manually,
      employee_result: null,
      client_result: null,
    }
  },
  computed: {
    time () {
      let dt = new Date(this.manager.created_record) //доделать твою зону
      let hour = dt.getHours()
      hour = (hour < 10 ? '0' : '') + hour
      let mins = dt.getMinutes()
      mins = (mins < 10 ? '0' : '') + mins
      // let secs = dt.getSeconds()
      // secs = (secs < 10 ? '0' : '') + secs
      return hour + ':' + mins
    },
    recDuretion () {
      const sec = this.manager.talk_duration
      return Math.floor(sec / 60) + ':' + (sec % 60 < 10 ? '0' + sec % 60 : sec % 60)
    },
    isUpdateRecord () {
      if (!this.isUpdate && this.comment !== this.manager.comment || this.isChangeTarget || (this.commentNew && this.comment !== this.commentNew)) {
        return true
      }
      return false
    }
  },
  methods: {
    // changeComment(value){
    //   if (value !== this.manager.comment) this.isUpdate = false;
    // },
    changeTarget(value) {
      console.log('value: ', value);
      // this.manager.transferred_manually = !this.manager.transferred_manually
      this.targetNew = value.value
      this.transferred_manually = !this.transferred_manually
      console.log('this.transferred_manually: ', this.transferred_manually);
      // console.log('this.targetNew: ', this.targetNew);
      this.isChangeTarget = true;

      // console.log('value: ', value)
      // this.manager.target = this.targetNew
      // this.manager.changeTarget = value.value
    },
    getAudio () {
      const data = {"recording_id": this.manager.recording_id}

      if(this.opened) {
        getAudio(this.manager.recording_id).then((response) => {
          this.audio = response.config.url
          this.$forceUpdate();
          // console.log('this.audio: ', this.audio);
          this.$refs.audioPlayer.classList.add('active')
        })
      }

    },
    updateRecord () {
      const data = {
        "recording_id": this.manager.recording_id,
        "comment": this.comment,
        "transferred_manually": this.transferred_manually
      }
      updateRecord(data).then((response) => {
        this.isUpdate = true;
        this.commentNew = this.comment
        let target = this.transferred_manually
        this.$emit('changeTarget', this.manager, target)

        console.log('updateRecord: ', response);
      })
    }
  },
  mounted() {
    // console.log('this.manager: ', this.manager);
    // manager.employee_result
    this.employee_result = JSON.parse(this.manager.employee_result).triggers;
    this.client_result = JSON.parse(this.manager.client_result).triggers;
    // console.log('manager.employee_result: ', JSON.parse(this.manager.employee_result));
  },
  watch: {
    opened (value) {
      if(!value) this.$refs.audioPlayer.pause();
      this.getAudio()
    }
  }
}
</script>
