<template>
  <header class="notification-header">
    <div @click="$router.go(-1)" class="go-back">
      <icon-arrow-back></icon-arrow-back>
      Назад</div>
      <div class="button-add" @click="openPopup">
        <icon-add></icon-add>
        Добавить новый сет
      </div>
  </header>
  <div class="notification-wrapper">
    <div class="notification-sets">
      <div class="sets-list">
        <div class="set" v-for="set in sets"  @click="setCurrentSet(set)" :key="set.id" :class="{active: set.id === currentSet.id}">{{ set.name }}
          <icon-ok v-if="set.is_active"></icon-ok>
        </div>
      </div>
      <div class="sets-content" v-if="currentSet">
        <div class="set-content-action">
          <div class="set-active-box" @click="changeActiveSet(currentSet)">
            <icon-ok :class="{active: currentSet.is_active}" :color_yellow="'none'"></icon-ok>
            Активный
          </div>
          <div class="set-action-box">
            <div class="set-active-box" @click="copySet(currentSet)">
              <icon-copy></icon-copy>
              Скопировать
            </div>
            <!-- <div class="set-active-box" @click="deleteSet(currentSet)">
              <icon-delete></icon-delete>
              Удалить
            </div> -->
          </div>
        </div>

        <div v-for="(valueTrig, keyTrig) in currentSet.triggers" class="trigger-wrapper" :key="keyTrig">
          <div class="trigger-name">{{ keyTrig}}</div>
          <div class="trigger-box">
            <span v-for="trigger in valueTrig" class="trigger-word" :key="trigger">{{ trigger }}</span>
          </div>
        </div>
      </div>
    </div>

  </div>
  <popup v-if="isPopup" v-model:open.sync="isPopup">
    <div class="new-set">
      <v-form :content="currentSet"></v-form>

    </div>
  </popup>
</template>

<script>
import { noScroll, getSets, changeActiveSet } from '../main'

import VButton from '../components/common/button.vue'
import IconAdd from '../components/icons/IconAdd.vue'
import IconSave from '../components/icons/IconSave.vue'
import IconCancel from '../components/icons/IconCancel.vue'
import IconDelete from '../components/icons/IconDelete.vue'
import VInput from '../components/common/input.vue'
import Popup from '../components/Popup.vue'
import VForm from '../components/VForm.vue'
import IconSort from '../components/icons/IconSort.vue'
import IconArrowBack from '../components/icons/IconArrowBack.vue'
import IconOk from '../components/icons/IconOk.vue'
import IconCopy from '../components/icons/IconCopy.vue'

export default {
  components: {
    IconSave,
    IconCancel,
    IconDelete,
    VInput,
    VButton,
    IconAdd,
    VForm,
    Popup,
    IconSort,
    IconArrowBack,
    IconOk,
    IconCopy
  },
  data() {
    return {
      sets: [],
      currentSet: null,
      isPopup: false,
    }
  },
  computed: {

  },
  methods: {
    changeActiveSet(set){
      const data = {
        trigger_set_id: set.trigger_set_id,
        is_active: true
      }
      changeActiveSet(data).then(resp => {
        this.getSets();
      })

    },
    copySet(set){
      console.log('set: ', set);
      this.isPopup = !this.isPopup;
    },
    openPopup(){
      this.isPopup = !this.isPopup;
    },
    setCurrentSet (set) {
      this.currentSet = set;
    },
    getSets () {
      getSets().then(resp => {
        this.sets = resp.data;
        this.sets.forEach(s => s.triggers = JSON.parse(s.triggers))
        this.currentSet = this.sets.find(s => s.is_active)
      })
    }
  },
  mounted() {
    this.getSets();
  },
  watch: {}
}
</script>
