<template>
  <div class="popup" @click.self="toggleOpen">
    <div class="close" @click="toggleOpen">
      <svg
        width="27"
        height="27"
        viewBox="0 0 27 27"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M2 25.5L25.5 2M25.5 25.5L2 2"
          stroke="white"
          stroke-opacity="1"
          stroke-width="3"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
    <div class="popup-wrapp">
      <slot></slot>
    </div>
  </div>
</template>

<script>
import { noScroll } from '../main'

export default {
  components: {
  },
  props: {
    open: { type: Boolean, default: false }
  },
  data() {
    return {
      isOpen: this.open
    }
  },
  computed: {},
  created() {},
  mounted() {},
  updated() {},
  methods: {
    toggleOpen() {
      this.isOpen = !this.isOpen
      this.$emit('update:open', this.isOpen)
      noScroll(this.isOpen)
    },
  }
}
</script>
