<template>
  <div class="form-wrapper">
    <div class="new-set-wrapper">
      <!-- <div class="input-img-wrapper">
        <drag-drop-input v-model="image" :preview="image"></drag-drop-input>
      </div> -->
      <div class="input-wrapper">
        <VInput v-model="currentName" placeholder="Введите" :input-type="'name'" :hint="'Название сета'" />
      </div>
      <div class="new-set-box" v-for="(valueTrig, keyTrig) in triggers" :key="keyTrig">
        <div class="title">
          {{ keyTrig }}
        </div>
        <!-- <div class="input-wrapper">
          <VInput v-model="changeData[keyTrig]" placeholder="Введите" :input-type="'name'" :hint="'Название сета'" />
        </div> -->
        <div class="trigger-box">
          <div v-for="(trigger, index) in valueTrig" :key="trigger" class="input-wrapper">
            <VInput v-model="changeData.triggers[index]" placeholder="Введите" :input-type="'name'" />
          </div>
            <!-- <span v-for="trigger in valueTrig" class="trigger-word" :key="trigger">{{ trigger }}</span> -->
        </div>
      </div>
      <!-- <div class="input-wrapper">
        <VInput v-model="currentDate" :inputType="'date'" :hint="'Дата рождения'" />
      </div> -->
      <!-- <div class="input-wrapper">
        <Select
          :options="cities"
          v-model="currentCity"
          :selected-val-id="currentCity"
          placeholder="Выберите"
          :hint="'Город'"
        />
      </div> -->
      <!-- <div class="input-wrapper">
        <VInput v-model="currentAddress" placeholder="Введите" :hint="'Адрес'" />
      </div> -->
      <!-- <div class="input-wrapper active-block">
        <p class="v-input__hint">Активность</p>
        <div class="active-td">
          <checkbox v-model="currentActive" :currentValue="currentActive" :id="'form'" />
        </div>
      </div> -->
    </div>
    <!-- <div class="btn-wrapper">
      <Button @click="saveUser" :disabled="checkValidationForm">
        <template #icon><IconSave color="white" /></template> Сохранить
      </Button>
      <Button @click="cancelUser">
        <template #icon><IconCancel color="white" /></template> Отменить
      </Button>
    </div> -->
  </div>
</template>

<script>
import Button from './common/button.vue'
import VInput from './common/input.vue'
import Select from './common/select.vue'
import { noScroll } from '../main'
import DragDropInput from './common/DragDropInput.vue'
import IconCancel from './icons/IconCancel.vue'
import IconSave from './icons/IconSave.vue'
import Checkbox from './common/checkbox.vue'

export default {
  components: { VInput, Button, Select, DragDropInput, IconCancel, IconSave, Checkbox },
  props: {
    content: { type: Object },
    // arrUsers: { type: Array, default: [] },
    // changeUser: { type: Object }
  },
  data() {
    return {
      currentName: '',
      currentActive: false,
      dataForm: {},
      isDisabled: true,
      triggers: [],
      changeData: {
        name: [],
        triggers: []
      }
    }
  },
  computed: {
    checkValidationForm() {
      if (this.currentName) {
        this.isDisabled = false
      }
      return this.isDisabled
    }
  },
  created() {
    if (this.content) {
  
  // this.currentCity = this.changeUser.city
  this.currentName = this.content.name
  // this.currentDate = this.changeUser.date
  // this.currentAddress = this.changeUser.address
  // this.currentPhone = this.changeUser.tel
  // this.currentInfo = this.changeUser.info
  // this.currentGender = this.changeUser.gender
  this.currentActive = this.content.active
  this.triggers = this.content.triggers;
  // this.changeData.triggers = this.triggers;
  let index = 0
  for(let trigger in this.triggers){
    index++;
    // console.log('index: ', index);
    // console.log('trigger: ', trigger);
    this.changeData.name.push(trigger);
    this.changeData.triggers.push(this.triggers[trigger][index])

    console.log('this.dataForm: ', this.changeData);
  }
  // this.dataForm = this.triggers.map(el => {
  //     console.log('el: ', el);
  //     this.triggers = {
  //       'newTitle1': ['newTrig1','newTrig2']
  //     }
  //   })
}

  },
  mounted() {
    
  },
  updated() {
    console.log('this.content: ', this.content);


  },
  methods: {
    // getBase64(file) {
    //   return new Promise((resolve, reject) => {
    //     const reader = new FileReader()
    //     reader.readAsDataURL(file)
    //     reader.onload = () => {
    //       resolve(reader.result)
    //     }
    //     reader.onerror = (error) => reject(error)
    //   })
    // },
    saveUser() {
      const id = this.arrUsers[this.arrUsers.length - 1]
        ? this.arrUsers[this.arrUsers.length - 1].id + 1
        : 1
      console.log('id: ', id)

      this.dataForm = {
        name: this.currentName,

        active: this.currentActive,
        triggers: this.newTriggers,
        id
      }
      if (this.image && typeof this.image == 'object') {
        if (this.changeUser) {
          this.dataForm.id = this.changeUser.id
        }
        this.getBase64(this.image).then((photo) => {
          this.dataForm.photo = photo
          this.$emit('getUser', this.dataForm)
        })
      } else if (this.changeUser) {
        this.dataForm.photo = this.changeUser.photo ? this.changeUser.photo : ''
        this.dataForm.id = this.changeUser.id
        this.$emit('getUser', this.dataForm)
      } else {
        this.dataForm.photo = ''
        this.$emit('getUser', this.dataForm)
      }
    },
    cancelUser() {
      this.$emit('cancelUser')
    }
  },
  mounted() {},
  watch: {}
}
</script>
