<template>
  <div :id="id" :class="`${nameClass} checkbox-wrapper`">
    <input type="checkbox" :id="checkboxId" v-model="isChecked" :disabled="isDisabled"/>
    <div class="checkbox"></div>
    <label :for="checkboxId">{{ label }}</label>
  </div>
</template>

<script>
export default {
  props: {
    modelValue: {
      type: Boolean,
      default: false
    },
    id: {
      type: String,
      default: ''
    },
    label: {
      type: String,
      default: ''
    },
    nameClass: {
      type: String,
      default: ''
    },
    isDisabled: {
      type: Boolean,
      default: false
    },
    currentValue: {
      type: Boolean,
      default: false
    }
  },

  computed: {
    checkboxId() {
      return `${this.id}-checkbox`
    }
  },

  data() {
    return {
      isChecked: null
    }
  },

  watch: {
    isChecked() {
      this.$emit('update:modelValue', this.isChecked)
    },
    currentValue(){
      this.isChecked = this.currentValue;
    }
  },

  created() {
    this.isChecked = this.modelValue
  }
}
</script>
