<template>
  <div>
    <input ref="file" type="file" accept="image/*" @change="fileChange" hidden />
    <div
      class="drag-drop-zone"
      @click="upload()"
      @dragover="dragover"
      @dragleave="dragleave"
      @drop="drop"
    >
      <template v-if="isDragging">
        <div class="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1"
            viewBox="0 0 24 24"
            class="upload-loader__image"
          >
            <path d="M4 14.899A7 7 0 1 1 15.71 8h1.79a4.5 4.5 0 0 1 2.5 8.242M12 12v9" />
            <path d="m16 16-4-4-4 4" />
          </svg>
        </div>
        <p>Перетащите, чтобы загрузить</p>
      </template>
      <img v-else-if="previewImg" class="preview" :src="previewImg" />
      <template v-else>
        <div class="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1"
            viewBox="0 0 24 24"
            class="upload-loader__image"
          >
            <path d="M4 14.899A7 7 0 1 1 15.71 8h1.79a4.5 4.5 0 0 1 2.5 8.242M12 12v9" />
            <path d="m16 16-4-4-4 4" />
          </svg>
        </div>
        <p>Нажмите, чтобы загрузить</p>
        <p class="sub-text">или перетащите изображение</p>
        <p class="sub-text">(500x250px)</p>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  props: {

    modelValue: {
      type: Object,
      default: {}
    },
    preview: {type: String}
  },
  data() {
    return {
      isDragging: false,
      previewImg: this.preview ? this.preview : null
    }
  },
  computed: {
  },
  methods: {
    upload() {
      this.$refs.file.click()
    },
    fileChange(e, isDrop = false) {
      const file = isDrop ? e.dataTransfer.files[0] : e.target.files[0]
      this.$emit('update:modelValue', file)
      this.previewImg = URL.createObjectURL(file)
      URL.revokeObjectURL(file)
    },
    dragover(e) {
      e.preventDefault()
      this.isDragging = true
    },
    dragleave() {
      this.isDragging = false
    },
    drop(e) {
      e.preventDefault()
      this.fileChange(e, true)
      this.isDragging = false
    }
  }
}
</script>

<style scoped>
.drag-drop-zone {
  width: 250px;
  height: 250px;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.drag-drop-zone .preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.drag-drop-zone .icon {
  width: 25px;
  height: 20px;
}
.drag-drop-zone .sub-text {
  font-size: 12px;
}
</style>
