<template>
    <div v-for="item in options" :key="item.id" :class="`${nameClass} radio-item`" @click="getCurrentValue(item)">
        <input :id="'radio' + id +(Math.random()*100).toFixed(3)" type="radio" v-bind:value="item" v-model="currentValue" :class="{active: currentValue.value}">
        <label :for="'radio' + id + (Math.random()*100).toFixed(3)" >{{item.name}}</label>
    </div>
</template>

<script>
export default {
    props: {
        nameClass: {type: String, default: ''},
        options: {type: Array},
        oldvalue: {type: Boolean},
        id: {type: Number}
    },
    data() {
        return {
            currentValue: {},
        }
    },
    methods:{
        getCurrentValue(value){
            this.currentValue = value;
            this.$emit('selectVariant', this.currentValue);
        }
    },
    created() {
        this.currentValue = this.options.find(item => item.value === this.oldvalue)
    }
}
</script>

<style>

</style>