<template>
  <div class="select" :class="{ disabled: isDisabled }">
    <p class="v-input__hint" v-html="hint" @click="toggleSelect"></p>
    <div class="v-select__wrapper" @click="toggleSelect" :class="show ? 'open' : ''">
      <span v-if="!selected || !selectedValId" v-html="placeholder" class="placeholder"></span>
      <span v-else v-html="selected.name"></span>
      <div class="select-icon">
        <selectIcon />
      </div>
    </div>
    <div :class="`select-block ${show ? 'open' : ''}`">
      <ul>
        <li
          v-for="item in options"
          :key="item.id"
          :class="selected && item.id === selected.id ? 'active' : ''"
          v-html="item.name"
          @click="clickItem(item)"
        ></li>
        <li v-if="options.length < 1">нет данных</li>
      </ul>
    </div>
  </div>
</template>

<script>
import selectIcon from '../icons/IconArrow.vue'

export default {
  components: { selectIcon },
  props: {
    options: { type: Array },
    placeholder: { type: String },
    hint: { type: String, default: '' },
    selectedValId: [Object, Number],
    isDisabled: { type: Boolean, default: false }
  },
  data() {
    return {
      selected: null,
      show: false
    }
  },
  methods: {
    toggleSelect() {
      if (!this.isDisabled) {
        this.show = !this.show
      }
    },
    clickItem(value) {
      if (this.selected && this.selected.id === value.id) {
        return (this.selected = {})
      }
      this.selected = value
      console.log('value: ', value);
      this.show = false
      this.$emit('update:modelValue', value)
    }
  },
  created() {
    window.addEventListener('click', (e) => {
      if (!this.$el.contains(e.target)) {
        this.show = false
      }
    })
    if (this.selectedValId) {
      if (typeof this.selectedValId == 'number') {
        this.selected = this.options.find((el) => el.id === this.selectedValId)
      } else if (typeof this.selectedValId == 'object') {
        this.selected = this.selectedValId
      } else {
        this.selected = this.options.find((el) => el.title === this.selectedValId)
      }
    } else {
      this.selected = null
    }
  },
  watch: {
    selectedValId() {
      if (typeof this.selectedValId == 'number') {
        this.selected = this.options.find((el) => el.id === this.selectedValId)
      } else if (typeof this.selectedValId == 'object') {
        this.selected = this.selectedValId
      } else {
        this.selected = this.options.find((el) => el.title === this.selectedValId)
      }
    }
  }
}
</script>
