<template>
  <svg
    width="800px"
    height="800px"
    viewBox="0 0 1024 1024"
    class="icon"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M989.44 339.84a36.8 36.8 0 0 0-6.72-10.56 32 32 0 0 0-45.44 0 36.8 36.8 0 0 0-6.72 10.56 26.56 26.56 0 0 0-2.56 12.16 32 32 0 1 0 64 0 32 32 0 0 0-2.56-12.16zM844.16 402.24l-96 75.52a32 32 0 0 0 39.68 50.24l96-75.52a32 32 0 0 0-39.68-50.24zM652.16 553.28L512 663.36 83.84 326.72a32 32 0 0 0-39.68 50.24l448 352a32 32 0 0 0 39.68 0l160-125.76a32 32 0 0 0-39.68-50.24z"
      :fill="color"
    />
  </svg>
</template>

<script>
export default {
    props: {
        color: {type: String, default: '#231815'}
    }
};
</script>