<template>
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256" width="48px" height="48px">
    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="none" stroke-linecap="none" stroke-linejoin="none" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
        <g transform="scale(5.33333,5.33333)">
            <path d="M32.5,43.1c0.2,-1.9 1.6,-3.5 3.5,-3.9c1,-0.2 2,0 2.9,0.4l1.9,0.8c0.4,0.2 0.9,0.1 1.2,-0.2c1.5,-1.8 2.7,-3.8 3.5,-6c0.1,-0.4 0,-0.9 -0.4,-1.1l-1.6,-1.2c-0.8,-0.6 -1.4,-1.4 -1.7,-2.3c-0.6,-1.9 0.1,-3.9 1.6,-5l1.8,-1.3c0.4,-0.3 0.5,-0.7 0.4,-1.1c-0.8,-2.2 -2,-4.3 -3.5,-6c-0.3,-0.3 -0.8,-0.4 -1.2,-0.2l-1.9,0.5c-0.9,0.4 -1.9,0.6 -2.9,0.4c-2,-0.4 -3.3,-2 -3.5,-3.9l-0.2,-2.2c0,-0.4 -0.4,-0.8 -0.8,-0.9c-1.1,-0.2 -2.3,-0.3 -3.5,-0.3c-1.2,0 -2.4,0.1 -3.5,0.3c-0.4,0.1 -0.7,0.4 -0.8,0.9l-0.2,2c-0.1,1 -0.5,1.9 -1.1,2.7c-1.3,1.5 -3.4,1.9 -5.2,1.1l-2,-0.9c-0.4,-0.2 -0.9,-0.1 -1.2,0.2c-1.5,1.8 -2.7,3.8 -3.5,6c-0.1,0.4 0,0.9 0.4,1.1l1.6,1.2c0.8,0.6 1.4,1.4 1.8,2.3c0.6,1.9 -0.1,3.9 -1.6,5l-1.8,1.3c-0.4,0.3 -0.5,0.7 -0.4,1.1c0.8,2.2 2,4.3 3.5,6c0.3,0.3 0.8,0.4 1.2,0.2l1.9,-0.8c0.9,-0.4 1.9,-0.6 2.9,-0.4c2,0.4 3.3,2 3.5,3.9l0.2,2.2c0,0.4 0.4,0.8 0.8,0.9c1.1,0.2 2.3,0.3 3.5,0.3c1.2,0 2.4,-0.1 3.5,-0.3c0.4,-0.1 0.7,-0.4 0.8,-0.9z" fill="#ffed39" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter"></path>
            <circle cx="24" cy="24" r="6.5" fill="none" stroke="#18193f" stroke-width="3" stroke-linecap="butt" stroke-linejoin="miter"></circle>
            <path d="M30.8,35.7c1.2,-0.7 2.8,-0.8 4.1,-0.2l2.7,1.2c1.9,-2 3.4,-4.5 4.2,-7.3l-2.4,-1.7c-1.2,-0.8 -1.8,-2.2 -1.8,-3.6c0,-1.4 0.7,-2.8 1.8,-3.6l2.4,-1.7c-0.8,-2.8 -2.3,-5.2 -4.2,-7.3l-2.7,1.2c-1.3,0.6 -2.8,0.5 -4.1,-0.2c-1.3,-0.7 -2.1,-2 -2.2,-3.4l-0.4,-3.1c-1.4,-0.3 -2.8,-0.5 -4.2,-0.5c-1.4,0 -2.9,0.2 -4.2,0.5" fill="none" stroke="#18193f" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M17.3,12.3c-1.2,0.7 -2.8,0.8 -4.1,0.2l-2.7,-1.2c-1.9,2 -3.4,4.5 -4.2,7.3l2.4,1.7c1.2,0.8 1.8,2.2 1.8,3.6c0,1.4 -0.7,2.8 -1.8,3.6l-2.4,1.7c0.8,2.8 2.3,5.2 4.2,7.3l2.7,-1.2c1.3,-0.6 2.8,-0.5 4.1,0.2c1.3,0.7 2.1,2 2.2,3.4l0.3,2.9c1.4,0.3 2.8,0.5 4.2,0.5c1.4,0 2.9,-0.2 4.2,-0.5" fill="none" stroke="#18193f" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
        </g>
    </g>
</svg>
</template>

<script>
export default {
    props: {
        color: {type: String, default: '#231815'},
        color_yellow: {type: String, default: '#ffed39'}
    }
};
</script>