<template>
<svg width="96" height="96" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
<path class="circle" d="M83 26H65C65 21 47 21 47 26H29C27.4 26 26 27.4 26 29C26 30.6 27.4 32 29 32H31V85C31 89.4 34.6 93 39 93H73C77.4 93 81 89.4 81 85V32H83C84.6 32 86 30.6 86 29C86 27.4 84.6 26 83 26Z" fill="none"/>
<path d="M39 23V20C39 15 43 11 48 11C53 11 57 15 57 20V23" stroke="#231815" stroke-width="6" stroke-miterlimit="10"/>
<path d="M17 23H79" stroke="#231815" stroke-width="6" stroke-miterlimit="10" stroke-linecap="round"/>
<path d="M73 47V23" stroke="#231815" stroke-width="6" stroke-miterlimit="10" stroke-linecap="round"/>
<path d="M23 37.4V77C23 81.4 26.6 85 31 85H65C69.4 85 73 81.4 73 77V62" stroke="#231815" stroke-width="6" stroke-miterlimit="10" stroke-linecap="round"/>
<path d="M41 39V69" stroke="#231815" stroke-width="6" stroke-miterlimit="10" stroke-linecap="round"/>
<path d="M55 39V69" stroke="#231815" stroke-width="6" stroke-miterlimit="10" stroke-linecap="round"/>
</svg>
</template>
<script>
export default {
    props: {
        color: {type: String, default: '#231815'}
    }
};
</script>