<template>
<svg width="96" height="96" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
<path class="circle" d="M76.188 82H25.812C22.602 82 20 79.398 20 76.188V25.812C20 22.602 22.602 20 25.812 20H76.188C79.398 20 82 22.602 82 25.812V76.188C82 79.398 79.398 82 76.188 82Z" fill="none"/>
<path d="M85 27V79C85 82.314 82.314 85 79 85H27C23.686 85 21 82.314 21 79V75" stroke="#231815" stroke-width="6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M11 22.212V17C11 13.686 13.686 11 17 11H69C72.314 11 75 13.686 75 17V55.148" stroke="#231815" stroke-width="6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M75 65.872V69C75 72.314 72.314 75 69 75H17C13.686 75 11 72.314 11 69V32.426" stroke="#231815" stroke-width="6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

</template>

<script>
export default {
    props: {
        color: {type: String, default: '#231815'}
    }
};
</script>