<template>
<svg width="96" height="96" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
<path class="circle" d="M56 92.2C75.9927 92.2 92.2 75.9927 92.2 56C92.2 36.0073 75.9927 19.8 56 19.8C36.0073 19.8 19.8 36.0073 19.8 56C19.8 75.9927 36.0073 92.2 56 92.2Z" :fill="color_yellow"/>
<path d="M68.6 78.8C62.8 82.8 55.6 85 48 85C27.6 85 11 68.4 11 48C11 39.2 14.2 31 19.2 24.6" stroke="#231815" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M40.2 11.8C42.8 11.2 45.4 11 48 11C68.4 11 85 27.6 85 48C85 53.8 83.6 59.2 81.4 64" stroke="#231815" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
<path class="checked" d="M33 49L43 59L63 39" stroke="#231815" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

</template>

<script>
export default {
    props: {
        color: {type: String, default: '#231815'},
        color_yellow: {type: String, default: '#ffed39'}
    }
};
</script>