<template>
<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="48.000000pt" height="48.000000pt" viewBox="0 0 48.000000 48.000000"
 preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,48.000000) scale(0.100000,-0.100000)"
:fill="color" stroke="none">
<path d="M160 398 c-98 -50 -128 -167 -67 -259 27 -41 113 -87 129 -71 14 14
16 11 -44 39 -80 38 -109 123 -68 203 37 72 128 99 200 60 l35 -19 -27 -1
c-18 0 -28 -5 -28 -15 0 -11 12 -15 50 -15 l50 0 0 50 c0 38 -4 50 -15 50 -8
0 -15 -9 -15 -20 0 -19 0 -19 -42 0 -57 26 -104 25 -158 -2z"/>
<path d="M272 218 c-16 -16 -16 -170 0 -186 18 -18 118 -16 118 3 0 11 -12 15
-50 15 l-50 0 0 75 c0 60 3 75 15 75 8 0 15 7 15 15 0 18 -31 20 -48 3z"/>
<path d="M350 215 c0 -11 12 -15 45 -15 l45 0 0 -75 c0 -60 -3 -75 -15 -75 -8
0 -15 -7 -15 -15 0 -18 31 -20 48 -3 7 7 12 43 12 93 0 50 -5 86 -12 93 -18
18 -108 16 -108 -3z"/>
<path d="M375 150 c-13 -14 -21 -17 -31 -9 -21 17 -28 -10 -8 -32 17 -19 18
-19 50 12 18 18 31 36 28 41 -8 13 -19 10 -39 -12z"/>
</g>
</svg>
</template>

<script>
export default {
  props: {
    color: { type: String, default: '#231815' }
  }
}
</script>