<template>
<svg width="96" height="96" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
<path class="circle" d="M22 87.6L26.8 70.8C27 69.8 27.6 69 28.4 68.2L72.4 24.4C77 19.8 84.4 20.2 88.6 25.2C92.2 29.6 91.6 36.2 87.6 40.2L43.8 83.6C43 84.4 42.2 84.8 41.2 85.2L24.4 90C23 90.4 21.6 89 22 87.6Z" fill="none"/>
<path d="M36.8 43.6L64.2 16.2C68.8 11.6 76.2 12 80.4 17C84 21.4 83.4 28 79.4 32L73.8 37.6" stroke="#231815" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M65 46.6L35.8 75.6C35 76.4 34.2 76.8 33.2 77.2L13 83L18.8 62.8C19 61.8 19.6 61 20.4 60.2L27.8 52.8" stroke="#231815" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M58.2 22.2L73.8 37.8" stroke="#231815" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

</template>

<script>
export default {
    props: {
        color: {type: String, default: '#231815'}
    }
};
</script>