<template>
<svg width="96" height="96" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
<path class="circle" d="M56 93C76.4345 93 93 76.4345 93 56C93 35.5655 76.4345 19 56 19C35.5655 19 19 35.5655 19 56C19 76.4345 35.5655 93 56 93Z" fill="none"/>
<path d="M70.8 77.6C64.4 82.4 56.6 85.4 48 85.4C27.4 85.4 10.6 68.6 10.6 48C10.6 42.8 11.8 37.6 13.6 33.2" stroke="#231815" stroke-width="6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M24.2 19.2C30.6 14 39 10.6 48 10.6C68.6 10.6 85.4 27.4 85.4 48C85.4 52.6 84.6 57 83 61.2" stroke="#231815" stroke-width="6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M48 28V68" stroke="#231815" stroke-width="6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M68 48H28" stroke="#231815" stroke-width="6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

</template>

<script>
export default {
    props: {
        color: {type: String, default: '#231815'}
    }
};
</script>