//colors
$white: #ffffff;
$black: #000000;
$dark: #161717;
$yellow: #fff705ba;
$error: #f55;

$blue100: #f6fbfe; //tabl row
$blue200: #b3b5b6;
$blue300: #2898ff; //button
$blue400: #5790dc;
$blue500: #214464; //bg block
$blue600: #09345a; //bg main

$beige100: #f8f5ec; // шильдик на главной
$beige200: #e3dcd0; //шильдики где 10лет

$secondary100: #f5f5f5; //bg block
$secondary200: #c1c1c1;
$secondary300: #838383;
$secondary400: #686868;
$secondary500: #454545;

body {
  background: $secondary100;
  color: $dark;
  .hidden {
    height: 100vh;
    overflow-y: hidden;
    padding-right: 15px;
  }
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 5px rgba(255, 247, 5, 1);
}
.all-wrapper {
  padding: 0 32px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1920px;
  margin: 0 auto;
  @media (max-width: 1365px) {
    padding: 0 15px;
  }
  @media (max-width: 1023px) {
    padding: 0 10px;
    justify-content: flex-start;
  }
}

// button
.button {
  @include reset-button();
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  font-weight: 500;
  white-space: nowrap;
  //   transition: 0.3s ease-in;
  cursor: pointer;

  &.active {
    background-color: $blue300;
    color: $white;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 600;
  }
  &:disabled,
  &.disable {
    background: $secondary200;
    cursor: default;
  }
  &:disabled:hover,
  &.disable:hover {
    opacity: 1;
    background: $secondary200;
  }
  @media (max-width: 1023px) {
    &.button_small {
      padding: 5px 10px;
      border-radius: 10px;
      font-size: 12px;
    }
  }
}
.button__label {
  @media (min-width: 1023px) {
    // margin: 0 12px;
  }
}
.button_blue {
  background-color: $blue300;
  color: $white;
  border-radius: 10px;
  padding: 5px 10px;
  @media (min-width: 1023px) {
    padding: 11px 10px;
    &:hover {
      opacity: 1;
      // background-color: rgba($color: #2898ff, $alpha: 0.8);
      background-color: #1d82df;
    }
  }
}
.button_medium {
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  font-size: 16px;
  height: 60px;
  @media (min-width: 1023px) {
    border-radius: 24px;
    padding: 24px 36px;
    width: 227px;
    height: 75px;
    &:hover {
      opacity: 1;
      // background-color: rgba($color: #2898ff, $alpha: 0.8);
      background-color: #1d82df;
    }
  }
}

.button_outlined {
  border: 2px solid $blue300;
  padding: 9px 10px;
  @media (min-width: 1023px) {
    &:hover {
      color: rgba($color: $blue500, $alpha: 1.0);
      border: 2px solid rgba($color: $blue300, $alpha: 0.4);
    }
    &:active {
      background-color: transparent;
      color: $blue500;
      border: 2px solid $blue400;
      padding: 9px 10px;
    }
  }
}
.button_icon {
  // padding: 10px;
  align-items: center;
  display: flex;
}
.v-button__icon_right-margin {
  // margin-right: 4px;
}
.button_text_icon {
  gap: 10px;
}

// input
.v-input {
  width: 100%;
}

.v-input__wrapper {
  background: white;
  border-radius: 16px;
  padding: 11px 16px;
  display: flex;
  position: relative;
  width: 100%;
  // outline: 2px solid rgba($color: $yellow, $alpha: .4);
  transition: 0.1s;
  @media (min-width: 1023px) {
    &:hover {
      outline: 2px solid rgba($color: $blue300, $alpha: 0.5);
      // outline-offset: -2px;
    }
  }
}
.v-input__hint {
  margin: 0 18px 12px;
  font-weight: 600;
  span {
    color: $error;
  }
}
input.v-input__input {
  background: transparent;
  border: none;
  border-radius: 0;
  color: $dark;
  font-weight: 500;
  height: 17px;
  width: 100%;

  &:focus {
    border: none;
    outline: none;
  }

  &::placeholder {
    color: $secondary300;
    font-size: 14px;
    font-weight: 500;
  }

  &:placeholder-shown {
    text-overflow: ellipsis;
  }
}

.v-input__wrapper.v-input__wrapper_focused {
  outline: 2px solid $blue300;
  // outline-offset: -2px;
  // box-shadow: 0 0 0 2px $blue300;
}

.v-input__wrapper.v-input__wrapper_disabled {
  border-color: #d8d8d8;
  box-shadow: none;
  outline: 2px solid transparent;
  user-select: none;
}
.v-input__wrapper.v-input__wrapper_disabled .v-input__label {
  color: #bebebe;
}

.v-input__wrapper.v-input__wrapper_disabled .v-input__input {
  color: #bebebe;
}

.v-input__wrapper.v-input__wrapper_disabled .v-input__input::placeholder {
  color: #bebebe;
}
.input-error {
  color: $error;
  font-size: 11px;
  font-weight: 500;
  margin: 5px 18px 0;
}
//textarea
.v-input__textarea {
  font-family: 'Inter', sans-serif !important;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  width: 100%;
  height: 60px;
  border: none;
  // resize: none;
  font-weight: 500;
  &:focus-visible {
    outline: none;
  }
  &:focus {
    border: none;
    outline: none;
  }

  &::placeholder {
    color: $secondary300;
    font-size: 14px;
    font-weight: 500;
  }
}

//select
.v-select__wrapper {
  background: white;
  border-radius: 16px;
  padding: 12px 16px;
  padding-right: 48px;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  color: $dark;
  font-weight: 500;
  cursor: pointer;
  @media (min-width: 1023px) {
    &:hover {
      outline: 2px solid rgba($color: $blue300, $alpha: 0.5);
      outline-offset: -2px;
    }
  }
  &.open {
    outline: 2px solid $blue300;
    outline-offset: -2px;

    .select-icon {
      transform: rotate(90deg);
    }
  }
  .placeholder {
    color: $secondary400;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
  }
}
.select {
  text-align: left;
  width: 100%;
  position: relative;

  &.disabled {
    user-select: none;
    .select-icon {
      display: none;
    }
    .v-select__wrapper {
      cursor: default;
      &:hover {
        outline: 2px solid transparent;
        outline-offset: -2px;
      }
    }
    span {
      color: #bebebe;
    }
  }

  .select-block {
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 5px 25px -4px rgba(0, 0, 0, 0.05);
    position: absolute;
    background-color: white;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    z-index: 2;
    padding: 6px 0 24px 24px;
    transform: translateY(3px);

    &.open {
      visibility: visible;
      opacity: 1;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 250px;
    overflow: auto;
    padding: 16px 0 0px;

    li {
      list-style-type: none;
      color: $dark;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        color: $blue300;
      }
      &.active {
        color: $blue300;
      }
    }
  }

  .select-icon {
    position: absolute;
    right: 16px;
    transition: all 0.3s;
    // &.select-close {
    //   transform: rotate(90deg);
    // }
    svg {
      width: 18px;
      height: 18px;
    }
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

//checkbox
.checkbox-wrapper {
  position: relative;
  display: flex;
  label {
    color: #000000;
    font-weight: 400;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    user-select: none;
    padding-left: 30px;

    &.checkbox-label {
      font-weight: 400;
      color: #bebebe;
    }
  }
  input[type='checkbox'] {
    opacity: 0;
    height: 0;
    width: 0;
    margin: 0;
  }
  input:checked ~ .checkbox {
    border: 2px solid $blue400;
    background: $blue400;

    &::after {
      display: block;
    }
  }
  input:disabled + .checkbox {
    border: 2px solid $secondary300;
  }
  input:disabled:checked ~ .checkbox {
    background: $secondary300;
  }
  input:disabled + .checkbox + label {
    cursor: default;
  }
  &:hover input:disabled + .checkbox {
    outline: unset;
    cursor: default;
  }
  &:hover .checkbox {
    // @media #{$tablet-wide}{
    // outline: 3px solid $blue400;
    border: 2px solid $blue300;
    // }
  }
}

.checkbox-wrapper .checkbox {
  width: 18px;
  height: 18px;
  border-radius: 4px;
  position: absolute;
  border: 2px solid $blue500;
  user-select: none;
  top: 2px;
  background-color: $white;

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 4px;
    top: 1px;
    width: 6px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: none;
  }
}

.checkbox {
  &.checkbox_bg_white {
    background-color: $white;
  }
}
.flex {
  display: flex;
}
.flex-colm{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
//radio
.radio-item input[type=radio] {
	display: none;
}
.radio-item label {
	display: flex;
    align-items: center;
	cursor: pointer;
	position: relative;
	font-weight: 400;
    padding-left: 30px;
    margin-right: 0;
	user-select: none;
}
.radio-item label:before,
.radio-item label::after {
	content: "";
	display: inline-block;
	width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    left: 0px;
}
.radio-item label:before{
    border: 2px solid $blue500;
}
/* Checked */
.radio-item input[type=radio]:checked + label:before {
  border: 2px solid $blue400;
}
.radio-item input[type=radio]:checked + label::after {
  background: $blue400;
  width: 10px;
  height: 10px;
  border: unset;
  left: 0;
  transform: translateX(50%);
}

/* Hover */
.radio-item label:hover:before {
  @media (min-width: 700px) {
      // outline: 2px solid $blue300;
      border: 2px solid $blue300;
  }
}
.radio-item input[type=radio]:checked + label:hover:before {
  @media (min-width: 700px) {
    // border: 0px solid transparent;
  }
}

/* Disabled */
.radio-item input[type=radio]:disabled + label:before {
  border: 2px solid $blue400;
}
.radio-item input[type=radio]:disabled + label:hover:before {
  outline: unset;
}