*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: auto !important;
  -webkit-font-smoothing: antialiased;
}

a,
label {
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease;

  &:hover {
    // color: $blue400;
    cursor: pointer;
  }
}
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}
p {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}
svg {
  display: block;
}

// Убирает браузерные стили у тега button
/* stylelint-disable  property-no-vendor-prefix */
@mixin reset-button() {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  text-align: inherit;
  outline: none;
  cursor: pointer;
  background-color: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  /* Remove excess padding and border in Firefox 4+ */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}
