svg {
  height: 25px;
  width: 25px;
}
.filters {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 30px 20px 20px;
  gap: 30px;
  position: relative;

  &__date {
    flex: 1;
  }
  &__name {
    flex: 3;
  }
  &__target {
    flex: 2;
  }
  &__btn .button {
    min-width: 120px;
  }
}
.header-notification {
  display: flex;
  align-items: center;
  gap: 4px;
  position: absolute;
  right: 25px;
  top: 20px;
  svg path:first-child {
    fill: transparent;
  }
  &:hover {
    svg path:first-child {
      fill: #ffed39;
    }
  }
}
.message {
  color: $secondary300;
  font-size: 32px;
  text-align: center;
  padding: 40px;
}
.calendar-btn-clear {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.table {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 10px 16px;
  min-height: calc(100vh - 120px);

  &-row-wr {
    &:hover {
      .table-row {
        box-shadow: 0px 0px 5px $blue400;
      }
    }
    &.active {
      .table-row {
        border: 1px solid rgba($color: $blue400, $alpha: 0.4);
        border-radius: 10px 10px 0 0;
      }
      .manager-wrapper {
        border: 1px solid rgba($color: $blue400, $alpha: 0.4);
        border-radius: 0 0 10px 10px;
        border-top: 0;
      }
    }
  }
  &-row {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 70px;
    border-radius: 10px;
    background: linear-gradient(
      0deg,
      rgba(250, 254, 255, 1) 0%,
      rgba(255, 255, 255, 1) 30%,
      rgba(255, 255, 255, 1) 70%,
      rgba(250, 254, 255, 1) 100%
    );
  }
  &-head {
    height: 40px;
    background: rgba($color: $yellow, $alpha: 0.4);
  }
  .cell {
    flex: 1;
    padding: 4px 8px;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:nth-child(1),
    &:nth-child(2) {
      flex: 0 0 50px;
      padding: 4px 4px;
    }
    &:nth-child(4) {
      flex-grow: 3;
    }
    &:nth-child(5) {
      flex-grow: 2;
    }
    span {
      margin: 0 10px;
      svg {
        width: 26px;
      }
    }
  }
}
.manager {
  &__info {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px 20px;
    border-top: 1px solid $secondary200;
    border-bottom: 1px solid $secondary200;
    font-size: 24px;

    &--avatar {
      // background-color: rgba($color: $yellow, $alpha: 0.4);
      background: #bebebe;
      border-radius: 50%;
      overflow: hidden;
      border: 2px solid $blue200;
      width: 40px;
      height: 40px;
      min-width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px;
      svg {
        width: 80%;
        height: 80%;
      }
    }
  }

  &__content {
    width: 70%;
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;

    audio {
      width: 100%;
      height: 45px;
      &::-webkit-media-controls-enclosure {
        border-radius: 16px;
        background-color: rgba(255, 247, 5, 0.2);
      }
      &.active {
        &::-webkit-media-controls-enclosure {
          background-color: rgba(255, 247, 5, 0.6);
        }
      }
    }

    &--audio {
      .audio__player {
        flex-direction: row !important;
        gap: 25px;
        justify-content: center;
      }
      .audio__player-play img {
        width: 60px !important;
        height: 60px !important;
      }
      .audio__player-play-icon {
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%);
        background: $yellow !important;
        img {
          width: 1rem !important;
          height: 1rem !important;
        }
      }
      .audio__player-play {
        cursor: pointer;
      }
    }

    &--text {
      padding: 4px 0 20px 20px;
      border: 2px solid rgba($color: $yellow, $alpha: 0.4);
      border-radius: 16px;
      background: $white;
      p {
        max-height: 200px;
        overflow-y: auto;
        white-space: pre-line;
      }
    }
    &--info {
      .colum-result {
        display: flex;
        gap: 40px;
        &-row {
          display: flex;
          margin: 0 0 10px;
          min-width: 300px;
        }
        &-cell {
          flex: 0 0 150px;
        }
      }
      span {
        font-weight: 500;
      }
    }
  }

  &__actions {
    width: 30%;
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    &-btn {
      display: flex;
      justify-content: center;
      .button {
        width: 70%;
      }
    }
  }
}
// notification page
.notification-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 0;
  gap: 20px;
}
.go-back,
.button-add {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 10px 20px;
  cursor: pointer;
  // svg circle {
  //   fill: transparent;
  // }
  &:hover {
    svg .circle {
      fill: #ffed39;
    }
  }
}
.button-add {
}

.notification-wrapper {
  padding: 20px;
}
.notification-sets {
  display: grid;
  grid-template-columns: 15% 85%;
  min-height: calc(100vh - 70px);
  grid-column-gap: 4px;
}
.sets-list {
  border-radius: 10px;
  background: linear-gradient(
    0deg,
    rgb(250, 254, 255) 0%,
    rgb(255, 255, 255) 30%,
    rgb(255, 255, 255) 70%,
    rgb(250, 254, 255) 100%
  );
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  .set {
    background: transparent;
    padding: 0 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    height: 40px;
  }
  .set.active {
    background: rgba(255, 247, 5, 0.4);
  }
}
.sets-content {
  border-radius: 10px;
  background: linear-gradient(
    0deg,
    rgb(250, 254, 255) 0%,
    rgb(255, 255, 255) 30%,
    rgb(255, 255, 255) 70%,
    rgb(250, 254, 255) 100%
  );
  display: flex;
  flex-direction: column;
  // gap: 20px;
  padding: 20px;
}
.set-content-action, .set-action-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.set-active-box {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 10px;
  cursor: pointer;
  &:hover{
    .circle{
      fill: #ffed39;
    }
  }
  .active{
    .checked{
      display: block;
    }
    .circle{
      fill: #ffed39;
    }
  }
  .checked{
    display: none;
  }
}
.trigger {
  &-wrapper {
    display: flex;
    gap: 10px;
    padding: 15px 0;
    border-bottom: 1px solid #e7e7e7;
    &:last-child {
      border: none;
    }
  }
  &-word {
    padding: 10px;
    background: #f5f5f5;
    border-radius: 10px;
  }
  &-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  &-name {
    min-width: 200px;
  }
}

// .button__icon {
//   svg {
//     width: 20px;
//     height: 20px;
//   }
// }
.new-set {
  border-radius: 10px;
  background: linear-gradient(
    0deg,
    rgb(250, 254, 255) 0%,
    rgb(255, 255, 255) 30%,
    rgb(255, 255, 255) 70%,
    rgb(250, 254, 255) 100%
  );
  display: flex;
  flex-direction: column;
  // gap: 20px;
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 20px;
}
.popup,
.delete-popup-wr {
  background: rgba(0, 0, 0, 0.65);
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  .close {
    position: absolute;
    right: 50px;
    top: 50px;
    cursor: pointer;
  }
}
.popup-wrapp {
  display: flex;
  align-items: center;
  z-index: 10;
  margin: auto auto;
  width: 70vw;
  padding: 30px 0;
  height: 100vh;
}
.new-set {
  &-wrapper {
    .v-input__wrapper {
      background: #f5f5f5;
    }
  }
}
